/* Media queries */

/* Tableta */
@media (min-width: 768px) {

    /* Text */
    h1 {
        font-size: 56px;
        line-height: 64px;
    }

    /* Data */
    .data {
        padding: 32px 80px;
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /* Services */
    .services {
        padding: 64px 80px;
    }

    .contentServices {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* Benefit */
    .benefit {
        padding: 64px 80px;
    }

    .contentBenefit {
        grid-template-columns: auto auto;
    }

    /* Testimonials */
    .testimonials {
        padding: 64px 80px;
    }

    /* Contacto */
    .contacto {
        padding: 64px 80px;
    }

    .contentForm {
        grid-template-columns: auto auto;
    }

    /* Footer */
    footer {
        padding: 64px 80px;
    }

    .footerEnlaces {
        flex-direction: row;
    }

    .footerContacto {
        flex-grow: 3;
        align-items: flex-start;
    }

}

/* Desktop */
@media (min-width: 1024px) {

    .imgBenefit {
        width: 500px;
    }

    .contentTestimonials {
        flex-direction: row;
    }

    .cardTestimonial {
        width: 100%;
    }
}