/* Testimonials */
.testimonials {
	background-color: $smoke;
	display: flex;
	flex-direction: column;
	padding: 64px 16px;
	gap: 32px;
}

.contentTestimonials {
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: center;
}

.cardTestimonial {
	display: flex;
	flex-direction: column;
	padding: 24px;
	align-items: center;
	text-align: center;
	box-shadow: 0px 2px 4px rgba(45, 52, 66, 0.16);
	border-radius: 8px;
	gap: 16px;

	h3 {
		font-weight: 800;
	}
}

.workTestimonial {
	color: $blue;
}